.category-icon::before{
    font-family: Arial, Helvetica, sans-serif;
    color: #f5ce31;
    content: "\2022";
    font-size: 2em;
    padding-right: 0.5em;
    position: relative;
    top: 0.15em;
}
.category-text{
    color: #428bca !important;
}

#site-header {
    background-color: #ccc !important;
}
.search-submit{
    background-color: #fff !important;
    color: #000 !important;
}